* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px system-ui;
  color: white;
}

.progress {
  position: fixed;
  width: 100vw;
  height: 5px;
  background: linear-gradient(to left, red, pink, red);
  scale: 0 1;
  animation: progress-animation linear both;
  animation-timeline: scroll();
}
@keyframes progress-animation {
  to {
    scale: 1 1;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  padding: 5rem;
  background: linear-gradient(orange, maroon);
}

img {
  max-width: 100%;
  opacity: 0;
  animation: appear ease-in forwards;
  animation-timeline: view(90dvh 5dvh);
  /*
  * The values passed to view() here means this:
  * 1. End the animation this far from the top
  * 2. Start the animation this far from the bottom
  */
}

@keyframes appear {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
